@font-face {
    font-family: "Segoe UI";
    src: url("../assets/fonts/SegoeUI/SegoeUI.eot");
    src: url("../assets/fonts/SegoeUI/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/SegoeUI/SegoeUI.woff") format("woff"), url("../assets/fonts/SegoeUI/SegoeUI.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family: "Alte Haas Grotesk";
    src: url("../assets/fonts/AlteHaasGrotesk/AlteHaasGrotesk-Bold.eot");
    src: url("../assets/fonts/AlteHaasGrotesk/AlteHaasGrotesk-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AlteHaasGrotesk/AlteHaasGrotesk-Bold.woff") format("woff"), url("../assets/fonts/AlteHaasGrotesk/AlteHaasGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family: "Univers";
    src: url("../assets/fonts/Universe.eot");
    src: url("../assets/fonts/Universe/Universe-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Universe/Universe-Light.woff") format("woff"), url("../assets/fonts/Universe/Universe-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}